<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/boilerplate.css">
	</head>
	<body>
		<div id="viewport"></div>
		<script type="text/javascript" src="js/lib/pixi.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="js/game/game.js"></script>
		<script>
 			$(document).ready(function() {
				var game = new Game($('#viewport'));
			});
		</script>
	</body>
</html>